<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/jquery.2.1.4.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/command.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/message.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/JSON.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/constantes.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/TodasRespuestas.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/pila.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/listadoUsuarios.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/manejoChat.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/serializado.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/simuladorAjax.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/InOut.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/main.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/funcionesTest.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/outputlog.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/volteadoChat.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/cola.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/js/Ajax.js"></script>
        <script type="text/javascript" src="http://crop.workkola.com/chat/bootstrap/js/bootstrap.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Chat AJAX</title>
        <link type="text/css" rel="stylesheet" href="http://crop.workkola.com/chat/js/estilo.css" />
        <link type="text/css" rel="stylesheet" href="http://crop.workkola.com/chat/bootstrap/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="http://crop.workkola.com/chat/bootstrap/css/bootstrap-theme.min.css" />
    </head>
    <body onload='inicializacion()'>
        <div class="contenido">
            <table id="chatH">
                <tr>
                    <td>
                        <!--<h1 id="tituloChat"></h1>-->
                        <div class="estado" id="estado">
                            <h1 id="EstadoUsuarios" class="titulo"><icon class="glyphicon glyphicon-info-sign"/></h1>
                            <div class="usuario" id="001">
                                <ul id="listaUsuarios" class="listaUser" style="padding-left:0px;">
                                </ul>
                            </div>
                        </div>
                        <div class="todasRes">
                            <button id="envio" name="todasRespuestas" class="btn btn-info btn-xs" onclick='JavaScript:verTodasLasRespuestas()' style="margin-top:5px;width: 100%;"></button>
                        </div>
                        <button id="envio10" name="todasRespuestas" style="margin-top:5px;width: 100%;" class="btn btn-info btn-xs" onclick="JavaScript:limpiarSalida()">recibe_JSON</button>
                    </td>
                    <td>
                        <div>
                            <h1 id="tituloChatUser" class="titulo2"><icon class="glyphicon glyphicon-envelope"/></h1>
                            <form method="post" name="f1" class="textareaChat">
                                <div class="tipoPruebas">
                                    <ul id="listText"></ul>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div>
                            <!--<div id="004" class="usuarios listado">
                            </div>-->
                            <input type="text" id="escritura" name="escritura" class="escritura form-control"/>
                        </div>

                    </td>
                </tr>
            </table>
            <div id="debugAvanzado">

            </div>
        </div>
        <!--nuevos parametros init chat-->
        <param name="term26" value="todos"/>
        <param name="term27" value="Chat de usuarios"/>
        <param name="term28" value="Escribe aqui tu mensaje"/>



        <param name="div" value="<%= div %>"/>
        <param name="debuglevel" value="<%= SIETTE.DEBUG_LEVEL %>"/>
        <param name="chatStyle" value="flat"/>
        <param name="userid" value="111636">
        <param name="username" value="jesus2">
        <param name="session" value="IDASIGNATURA#22">
        <param name="URL" value="http://www.siette.org/siette/colab/ServidorColaborativo"/>
        <param name="jsConsultarRespuestas" value="ConsultarRespuestas"/>
        <param name="jsConsultarTodasRespuestas" value="ConsultarTodasRespuestas"/>
        
        <param name="term0" value="Estado de los usuarios"/>
        <param name="term1" value="resp. individual"/>
        <param name="term2" value="discusi&oacute;n"/>
        <param name="term3" value="resp. grupo"/>
        <param name="term4" value="finalizado"/>
        <param name="term5" value="Chat"/>
        <param name="term6" value="Respuestas"/>
        <param name="term7" value="Mensajes de los usuarios del chat"/>
        <param name="term8" value="Mensajes"/>
        <param name="term9" value="Usuarios conectados a la asignatura"/>
        <param name="term10" value="Lea aqu&iacute; el contenido del mensaje seleccionado."/>
        <param name="term11" value="Asunto de los mensajes a los que se quiere responder"/>
        <param name="term12" value="Responder a"/>
        <param name="term13" value="Escriba aqu&iacute; su mensaje. Pulse <Ctrl>+<Enter> para enviarlo."/>
        <param name="term14" value="Comentario"/>
        <param name="term15" value="Etiquetar mensaje como"/>
        <param name="term16" value="Pregunta"/>
        <param name="term17" value="Respuesta"/>
        <param name="term18" value="Fundamentación"/>
        <param name="term19" value="Enviar"/>
        <param name="term20" value="Seleccione un usuario para ver su respuesta."/>
        <param name="term21" value="de"/>
        <param name="term22" value="test finalizado"/>
        <param name="term23" value="Datos de la asignatura"/>
    </body>
</html>