body{
    background-color: #EEEEEE !important;
}

.bodyTabla{
    width: 100%
}

#chatH{
    display: block;
}

#chatV{
    display: block;
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid black;
    margin-left: 1px;
    margin-top: 1px;
}

div.tipoPruebas{
    max-height: 300px !important;
    min-height: 300px !important;
    display: block;
    min-width: 280px;
    max-width: 290px;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid black;
}

div.tipoPruebas[disabled="false"]{
    background-color: white; 
}
div.tipoPruebas[disabled="true"]{
    background-color: transparent;
    opacity: 0.7;
}

h1#tituloChat {
    max-width: 270px;
    margin: 0px;
    margin-right: 0px;
    min-width: 270px;
}

table#chatV {
    background: #EEEEEE;
}

table#chatH {
    background: #EEEEEE;
}

h1#tituloChatUser {
    max-width: 290px;
    min-width: 287px;
}

ul#listText{
    height: 100%;
    list-style: none;
    padding: 5px;
}

li.izq {
    text-align: left;
}

li.der {
    text-align: right;
    opacity: 0.8;
}

body{
    font-family: verdana;
    min-width: 301px;
    max-width: 301px;
    margin-top: 0px;
    margin-left: 1px;
}

/*table{
    border: 1px solid; 
}
*/
td{
    vertical-align: text-top;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right:5px;
}

h1.titulo{
    font-size: 13px;
    padding-left:4px;
    max-width: 280px;
    min-width: 280px;
}

h1.titulo2{
    font-size: 13px;
    padding-left: 2px;
}
div.usuario{
    background-color: white;
    padding-left: 12px;
    min-width: 250px;
    max-width: 300px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 12px;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid black;
}

#spanRespondera{
    padding-bottom: 2px;
}
span.colaborativo{
    background-color:pink;
    margin-left: 20px;
}

span.final{
    background-color:violet;
    margin-left: 20px;
}

span.individuald{
    background-color:red;
    margin-left: 20px;
}

span.colaborativod{
    background-color:red;
    margin-left: 20px;
}

span.finald{
    background-color:red;
    margin-left: 20px;
}

span.individualp{
    background-color: blue;
    margin-left: 20px;
}

span.colaborativop{
    background-color:blue;
    margin-left: 20px;
}

span.finalp{
    background-color:blue;
    margin-left: 20px;
}

input.verRes{
    min-width: 290px;
    max-width: 290px;
    margin-left: 5px;
    font-size: 12px;
}

textarea.chat{
    min-width: 286px;
    max-width: 286px;
    max-height: 200px;
    min-height: 200px;
    resize: none;
    border: 1px solid;
    margin-left:-1px;
    padding-left: 12px;
}

input.escrituraau{
    margin-left:2px;
    min-width: 155px;
    max-width: 155px;
}
span{
    padding-left: 2px;
}
input.escritura{
    padding-left: 12px;
    min-width: 280px;
    max-width: 300px;
    min-height: 30px;
    resize: none;
    margin-left: -1px;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}
.envio {
    -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#0f0f0f;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.envio:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.envio:active {
    position:relative;
    top:1px;
}

ul.listaUser{
    list-style-type: none;
    /*background: #fff url('../img/users_img.png') 0 3px no-repeat;*/
    padding: 5px 0 0 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.todasRes{
    padding-top: 5px;
}

.listado{
    margin: 0px;
    alignment-baseline: auto;
    padding-bottom: 2px;
}
.seleccion{
    margin-left: 10px;
    margin-bottom: 5px;
}
*::-moz-placeholder{
    color: black;
}
*::-webkit-input-placeholder{
    color: black;
}


.progress{
    margin-bottom: 0px !important;
}

.item{
    margin-left: 10px;
}

/*Centrado texto barra de progreso*/

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }

 /*Estilo para los iconos*/
.glyphicon{
    font-size: 15px;
    margin-right: 5px;
}